@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&family=Kumbh+Sans:wght@200&family=Titan+One&display=swap');

.bodyCiencia
{
    background-color: #edf3f6;
}

.ciencia
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 1em;

    &__info
    {
        display: flex;
        flex-direction: column;
        width: 30%;
        // border: 1px solid blue;
        gap: .5em;
        align-items: center;
        justify-content: center;
        // height: 20%;

        h1
        {
            font-size: 2em;
            font-family: "Kumbh Sans";
            color: black;
            font-weight: bold;
        }

        p,a
        {
            font-size: 1.2em;
            font-family: "Kumbh Sans";
            color: black;
            font-weight: 500;
        }
    }
}

.success__text
{
    font-size: 3em;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 8em;
}

.success
{
    z-index: -1;
    position: absolute;
}

.success__lottie
{
    width: 100%;
    height: 100vh;
    background-color: cover;
    pointer-events: none;
}