@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&family=Kumbh+Sans:wght@200&family=Titan+One&display=swap');

.bodyLetras
{
    background-color: #edf3f6;
}

.letras
{
    height: 100vh;
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;

    &__info
    {
        display: flex;
        flex-direction: column;
        width: 30%;
        // border: 1px solid blue;
        gap: .5em;
        align-items: center;
        justify-content: center;
        // height: 20%;

        h1
        {
            font-size: 2em;
            font-family: "Kumbh Sans";
            color: black;
            font-weight: bold;
        }

        p,a
        {
            font-size: 1.2em;
            font-family: "Kumbh Sans";
            color: black;
            font-weight: 500;
        }
    }
}