.wrapperNoticias
{
    background-color: purple;
}

.noticias
{
    padding: 1em;

    &__links
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 80%;
        width: 80%;
        margin: auto;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    & img
    {
        width: 100%;
    }
}

.imgprueba
{
    & img
    {
        height: 4em;
    }
}