@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&family=Kumbh+Sans:wght@200&family=Titan+One&display=swap');

.bodyObjetivos {
    background-color: #edf3f6;
}

.titu_obje h1 {

    text-align: center;
    color: black;
    font-size: 3em;
    font-family: "Kumbh Sans";
    font-weight: bold;
}




.obj__container
{
    padding: 5em 2em 5em 2em;
}

.obj__texto
{
    & p
    {
        color: black;
        font-size: 2.5em;
        font-family: "Kumbh Sans";
    }
    
}