.wrapperRegistro
{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(155,182,222,1) 100%, rgba(152,182,223,0.3785889355742297) 100%);
}

.form
{
    margin: 1em;
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;

    & input
    {
        color: black;
    }

    &__User,&__Password
    {
        display: flex;
        flex-direction: column;
        gap: 1em;
        justify-items: center;
        align-items: center;    
    }
}