* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

.wrapper {
  background-color: black;
}

.banner {
  height: 90vh;
  padding: 1em 0 1em 0;
}
.banner__carousel {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner__carousel img {
  height: 100%;
  width: 100%;
}
.banner__carousel .right {
  position: absolute;
  z-index: 2;
  right: 1em;
  font-size: 2em;
}
.banner__carousel .left {
  position: absolute;
  z-index: 2;
  left: 1em;
  font-size: 2em;
}

.nosotros {
  height: 100vh;
  padding: 1em 0 1em 0;
}
.nosotros__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.nosotros__info p {
  font-size: 2em;
  width: 50%;
}
.nosotros__info h2 {
  padding: 1em 0 0 0;
}
.nosotros__info img {
  height: 60%;
  width: 60%;
}

.objetivos {
  height: 100vh;
  padding: 1em 0 1em 0;
}
.objetivos__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.objetivos__info h2 {
  padding: 2em;
}

.cards {
  display: flex;
  height: 70%;
  gap: 1em;
  align-items: center;
  justify-content: center;
}
.cards__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.cards img {
  height: 40vh;
  padding: 1em;
}
.cards p {
  font-size: 2em;
  padding: 1em 2em 1em 2em;
}

.nosotros {
  height: 100vh;
  padding: 1em 0 1em 0;
}

.nosotros__info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.nosotros__info p {
  font-size: 2em;
  width: 50%;
}

.nosotros__info h2 {
  padding: 1em 0 0 0;
  font-size: 3em;
}

.nosotros__info img {
  height: 60%;
  width: 60%;
}

.nosotros__info a {
  color: blue;
}

.objetivos {
  height: 100vh;
  padding: 1em 0 1em 0;
}

.objetivos h2 {
  text-align: center;
  padding: 3em;
  font-size: 3em;
}

.cards a {
  color: blue;
}

.cards {
  display: flex;
  height: 70%;
  padding: 70px;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  width: 100%;
}

.cards img {
  height: 100%;
  width: 50%;
}

.cards p {
  font-size: 2em;
  padding: 1em 2em 1em 2em;
}

.whitespace {
  width: 100%;
}

.wrapperNoticias {
  background-color: purple;
}

.noticias {
  padding: 1em;
}
.noticias__links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 80%;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.noticias img {
  width: 100%;
}

.imgprueba img {
  height: 4em;
}

.wrapperCourses {
  background-color: #e4d3c0;
  font-family: Victor mono;
}

.courses {
  height: 90vh;
  padding: 1em;
}
.courses__math {
  border-radius: 1em;
  background-color: #94d6df;
}
.courses__math--animation {
  padding: 1em;
  visibility: hidden;
  clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  transition: clip-path 0.3s;
}
.courses__letras {
  border-radius: 1em;
  background-color: #bb5757;
}
.courses__letras--animation {
  visibility: hidden;
  padding: 1em;
  clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  transition: clip-path 0.3s;
}
.courses__ciencia {
  background-color: #d678ac;
  border-radius: 1em;
}
.courses__ciencia--animation {
  visibility: hidden;
  padding: 1em;
  clip-path: polygon(50% 0, 50% 0, 50% 100%, 50% 100%);
  transition: clip-path 0.3s;
}

.leyenda {
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.leyenda__bloque {
  display: flex;
  gap: 1em;
}
.leyenda__math {
  background-color: #94d6df;
  height: 2em;
  width: 2em;
}
.leyenda__letras {
  background-color: #bb5757;
  height: 2em;
  width: 2em;
}
.leyenda__ciencia {
  background-color: #d678ac;
  height: 2em;
  width: 2em;
}

.coursesHidden {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.intro {
  visibility: visible;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu {
  background-color: #1a202c;
  color: #fff;
  height: 70px;
}

.menu__container {
  display: flex;
  width: 90%;
  margin: auto;
  max-width: 1200px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.menu__logo {
  height: 4em;
}

.menu__links {
  height: 100%;
  transition: transform 0.5s;
  display: flex;
  /* transform: translateX(100%); */
}

.menu__item {
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg);
}

.menu__item:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(0) ;
}

.menu__link {
  color: #fff;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  height: 100%;
  align-items: center;
}

.menu__link:hover {
  background-color: #475c86;
}

.menu__arrow {
  transform: var(--transform);
  transition: transform 0.3s;
  display: block;
  margin-left: 3px;
}

.menu__nesting {
  list-style: none;
  transition: clip-path 0.3s;
  clip-path: var(--clip);
  position: absolute;
  right: 0;
  bottom: 0;
  width: max-content;
  transform: translateY(100%);
  background-color: black;
  z-index: 2;
}

.menu__link--inside {
  padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover {
  background-color: #798499;
}

.menu__hamburguer {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  display: none;
}

.menu__img {
  display: block;
  width: 36px;
}

@media (max-width: 800px) {
  .menu__hamburguer {
    display: flex;
  }

  .menu__item {
    --clip: 0;
    overflow: hidden;
  }

  .menu__item--active {
    --transform: rotate(0);
    --background: #5e7094;
  }

  .menu__item--show {
    background-color: var(--background);
  }

  .menu__links {
    position: fixed;
    max-width: 400px;
    width: 100%;
    top: 70px;
    bottom: 0;
    right: 0;
    background-color: black;
    overflow: auto;
    display: grid;
    grid-auto-rows: max-content;
    transform: translateX(100%);
  }

  .menu__links--show {
    transform: unset;
    width: 100%;
  }

  .menu__link {
    padding: 25px 0;
    padding-left: 30px;
    height: auto;
  }

  .menu__arrow {
    margin-left: auto;
    margin-right: 20px;
  }

  .menu__nesting {
    display: grid;
    position: unset;
    width: 100%;
    transform: translateY(0);
    height: 0;
    transition: height 0.3s;
  }

  .menu__link--inside {
    width: 90%;
    margin-left: auto;
    border-left: 1px solid #798499;
  }
}
.footer__wrapper {
  background-color: #023143b4;
  /* border: 1px solid red; */
}

.footer__columns {
  display: flex;
  padding: 1em;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
}

.column {
  font-size: 1em;
  line-height: 2em;
}

.column li {
  list-style: none;
  color: whitesmoke;
}

.column .icons {
  display: flex;
  padding-top: 1em;
  gap: 1em;
  font-size: 1.5em;
}

.footer {
  /* background-color: #023143; */
  height: 100%;
}

.footerLogo {
  height: 3em;
}

.derecho {
  display: flex;
  justify-content: center;
  padding: 1em 0 2em 0;
}

.bodyMath {
  background-color: black;
}

.math {
  height: 100vh;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 1.3fr 1fr;
  padding: 2em;
}
.math__info {
  width: 60%;
  height: 40vh;
  margin: auto;
}
.math__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  margin: auto;
  gap: 2em;
}
.math__text h1 {
  font-size: 2.5em;
}
.math__text p, .math__text a {
  font-size: 1.3em;
  font-family: Victor mono;
}

.bodyLetras {
  background-color: black;
}

.letras {
  height: 100vh;
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
}
.letras__info {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}
.letras__info h1 {
  font-size: 2em;
  font-family: Victor mono;
}
.letras__info p, .letras__info a {
  font-size: 1.2em;
  font-family: Victor mono;
}

.bodyCiencia {
  background-color: black;
}

.ciencia {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}
.ciencia__info {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}
.ciencia__info h1 {
  font-size: 2em;
  font-family: Victor mono;
}
.ciencia__info p, .ciencia__info a {
  font-size: 1.2em;
  font-family: Victor mono;
}

.bodyObjetivos {
  background-color: black;
}

.objetivos {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.objetivos__carrusel img {
  height: 50%;
}

/*# sourceMappingURL=main.css.map */
